@{
    ViewData["Title"] = "Home Page";
}

<center><h1 class="jumbotron">My Music Application</h1></center>
<br />
<img />
<a asp-controller="Albums" class="btn btn-primary btn-block"><b><big>My Albums</big></b></a>
<a asp-controller="Artists" class="btn btn-primary btn-block"><b><big>My Artists</big></b></a>
<a asp-controller="Genres" class="btn btn-primary btn-block"><b><big>My Genres</big></b></a>
<a asp-controller="Playlists" class="btn btn-primary btn-block"><b><big>My Playlists</big></b></a>