@model IEnumerable<MusicFall2016.Models.Genre>

@{ViewData["Title"] = "Genres"; }

<h2>Genres</h2>
<div><a asp-action="Create" class="btn btn-warning">Add Genre</a></div>
<br />
<table class="table">
    <thead>
        <tr class="bg-primary">
            <th>Name</th>
        </tr>
    </thead>
    @foreach (var genre in Model)
    {
        <tr>
            <td><a asp-action="Details" asp-route-id="@genre.GenreID">@genre.Name</a></td>
        </tr>
    }
</table>

